In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('MD_agric_exam-4313.csv')

In [4]:
df

,Field_ID,Elevation,Rainfall,Min_temperature_C,Max_temperature_C,pH,Pollution_level,Plot_size,Annual_yield,Crop_type
0,1162,494.95615,1507.6,-5.4,31.0,6.859436,0.007034,3.6,1.617421,coffee
1,5108,663.73390,581.0,-4.7,30.9,5.603219,0.289643,4.2,2.532497,potato
2,3504,396.87990,1715.1,-6.1,31.7,5.774116,0.000409,2.6,1.262207,banana
3,5351,594.80370,1748.0,-4.3,33.6,6.477415,0.088777,7.9,4.351564,wheat
4,905,609.49800,1395.8,-4.5,31.3,5.419586,0.050023,10.8,5.034791,cassava
...,...,...,...,...,...,...,...,...,...,...
995,2202,572.95935,625.6,-5.5,31.0,5.258964,0.086330,1.2,0.750675,wheat
996,2531,552.80945,398.1,-5.9,33.4,4.607136,0.130178,0.8,0.449790,wheat
997,1040,678.22504,564.4,-4.6,31.7,5.567556,0.448149,1.2,0.492988,maize
998,58,792.65370,928.5,-3.3,31.2,5.102048,0.387350,1.1,0.597557,potato
999,3334,747.69850,981.5,-3.7,31.0,6.715882,0.541706,11.1,2.867815,coffee

In [18]:
unique_crop_count = len(df['Crop_type'].unique())

print("number of unique crop types:", unique_crop_count)

number of unique crop types: 8

In [25]:
max_anual_wheat_yield = df[df['Crop_type'] == "wheat"]['Annual_yield'].max()
print("Maximum anual yield for wheat:", max_anual_wheat_yield)

Maximum anual yield for wheat: 8.994376295629458

#### Find the total rainfall for crop types where the average pollution level is above 0.2.

In [33]:
grouped_df = df.groupby('Crop_type').agg(
    average_pollution=('Pollution_level', 'mean'),
    total_rainfall=('Rainfall', 'sum')
)
filtered = grouped_df[grouped_df['average_pollution'] > 0.2]
result = filtered['total_rainfall'].sum()
print("Total Rainfall:", result)

Total Rainfall: 941959.7000000001

#### Write a function to calculate the temperature range (Max_temperature_C - Min_temperature_C) for each farmer's field. Then, call the function with the following `Field_ID`: `1458`, `1895`, and `5443`. What are the results of these 3 calls?